body {
	background: url(../images/bg/cool-background.svg) no-repeat #F8F9FA;
	background-size: 100%;
}

.logo h1 {
	color: #DADADA;
	font-size: 100px;
	width: 900px;
	font-weight: 600px;
	font-family: 'Arimo', sans-serif;
}
video {
	width: 500px;
}



.logo {
	margin-top: 200px;
}

.logo p {
	font-size: 25px;
	font-weight: bold;
}

.main {
	margin-top: 500px;
}

.who {
	text-align: center;
}

.link img {
	margin-top: 30px;
	height: 50px;
	padding: 6px;
	transition: height .5s;
}

.link img:hover {
	height: 55px;
}

.col-8 p {
	font-size: 30px;
}

.col-8 {
	margin-top: 50px;
}

.col-md-5 img {
	width: 550px;
	border-radius: 30px;
}

.about-row {
	margin-top: 100px;
}

.featurette-divider {
	margin-top: 150px;
}

.col-md-7 h2 {
	font-size: 35px;
}

.col-md-7 p {
	margin-top: 50px;
	font-size: 40px;
}

.col-md-6 h2 {
	font-size: 35px;
}

.col-md-6 p {
	margin-top: 50px;
	font-size: 40px;
}
.featurette {
	margin-bottom: 150px;
}

.middle {
	position: absolute;
	top: 87%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mouse {
	width: 50px;
	height: 90px;
	border: 4px solid #333;
	border-radius: 60px;
}

.mouse::before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	top: 30px;
	background: #333;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	opacity: 1;
	animation: mouse 2s infinite;
}
.mobail-link-video {
	display: none;
}

@keyframes mouse {
	from {
		opacity: 1;
		top: 5px;
	}
	to {
		opacity: 0;
		top: 35px;
	}
}
@media only screen and (max-width: 1025px) {
	video {
	  width: 350px;
    }
}
@media only screen and (max-width: 600px) {
	h1{
		margin-right: 30px;
	}
}

@media only screen and (max-width: 720px) {
	body {
		background: url(../images/bg/cool-background.svg) #F8F9FA no-repeat;
	}

	.col-md-6 video{
		display: none;
	}
	.mobail-link-video {
		display: block;
	}
	.logo h1 {
		color: #543278;
		font-size: 50px;
		width: 300px;
	}
	.mouse::before {
		content: "";
		width: 15px;
		height: 15px;
		position: absolute;
		top: 30px;
		background: #333;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50%;
		opacity: 1;
		animation: mouse 2s infinite;
	}
	@keyframes mouse {
		from {
			opacity: 1;
			top: 5px;
		}
		to {
			opacity: 0;
			top: 50px;
		}
	}
	.mouse {
		border: 0px;
	}
	.logo {
		padding: 30px;
	}
	.logo p {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 670px) {
	body {
		background: url(../images/bg/cool-background.svg) no-repeat;
		background-size: 400%;
		background-position: -100px;
	}
	h1 {
		font-size: 40px;
	}
	.logo h1 {
		color: #543278;
		font-size: 45px;
		width: 300px;
		margin-top: -100px;
	}
	.logo {
		padding: 30px;
	}
	video {
		width: 250px;
		margin-left: -50px;
		border: 5px solid #000;
	}
	.logo p {
		margin-left: 0px;
		font-size: 20px;
	}
	.col-md-5 {
		display: none;
	}
	.who {
		margin-top: 100px;
	}
	footer {
		font-size: 12px;
	}
	.about-video {
		display: none;
	}
}
